<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>D-SKY Privacy and Policy</h1>
      <h2>Data protection</h2>
      <ol>
        <li>D-SKY Limited collects and process personal data in accordance to the European Union General Data Protection
          Regulation (GDPR). By means of the present Terms and Conditions we notify you about the collection of personal
          data in connection with the use of the services as set out in Article 13 of the GDPR. For more details about
          the collection of personal data in connection with the use of the services please review our Privacy and
          Cookies Policy.</li>
        <li>Your personal data includes, but is not limited to, the following information which is provided by you
          directly and via your use of the Products and Services: </li>
        <ul>
          <li>We collect your personal information in order to be able to provide you with our products and services.
          </li>
          <li>We collect and process customer data and other type data for the purpose of content design, modification
            or termination of a contractual relationship with you;</li>
          <li>We collect and process traffic data for the purposes of construction, maintenance of telecommunications
            and the establishment of further connections;</li>
          <li>We will not record your personal information in any directory or information service, whether it is owned
            by us or by a third party, unless you request such registration.</li>
        </ul>
        <li>The legal basis for the collection and processing of personal data referred to in points (a) to (d) is GDPR
          Article 6 (1) (b), since the processing is necessary for the performance of a contract between Lebara and you.
        </li>
        <li>In addition, we collect and process your e-mail address and mobile phone number for the purpose of sending
          direct mail, product information and newsletters by e-mail and / or SMS, as well as advertising calls from
          D-SKY ltd, provided that you have given your consent. </li>
        <li>You can revoke your consent at any time, please review our Privacy and Cookies Policy for the procedure and
          for information on how to exercise your rights as data subject. </li>
      </ol>
      <h2>Indemnity:</h2>
      <p>You agree to defend, indemnify and hold DSKY LTD and its companies’ officers, directors and employees , from
        and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses
        (including but not limited to attorney's fees) Parties by a third party (including but not limited to an End
        Customer or another consumer or a regulatory body or a governmental or administrative agency) arising from:
      </p>
      <ol>
        <li>your accounts ’use of and access to the DSKY Portal;</li>
        <li>any breach by you and/or your sub-accounts holders of any of these Terms; </li>
        <li>any marketing, business, distribution or other activity by you relating to the Products involves fraud,
          false or misleading advertising, regulatory noncompliance, misrepresentation, theft or any illegal or
          deceptive conduct; and </li>
        <li>any violation by you and/or your sub-account holders of any third party right, including without limitation
          any intellectual property, property, data protection right or any other third party right. </li>
      </ol>
      <h4>This defence and indemnification obligation will survive these Terms and your use of the DSKY Portal and its Services.
      </h4>
    </div>
    <div class="col-md-12">
      <div class="terms">
        <h2>The following Terms and condition shall apply while using the DSKY app: </h2>
        <p>Definitions For purposes of these Terms, capitalised terms used in these Terms shall have the following
          meanings unless defined elsewhere in the Terms: “DSKY Account” means(as the context requires) the DSKY
          retailers Account “ shall mean an account funded by the DSKY Partner linked to any other existing Agreement;
          “DSKY Epin App” shall mean the technical account set up by the DSKY retailers when registering with the
          Portal, in order to able to access and use the E-Pin App or Portal. </p>
        <br>
        <p>“End Customer” shall mean an end-user of a Product or Service who purchased the Product or Service from a
          Retailer. “Partner” or “you” shall mean a Retailer, “DSKY E-Pin App ” shall mean the DSKY EPin app/portal
          available to DSKY Retailers. </p>
        <br>
        <p> “Partner entity data” shall mean Personal Data relating to Partner that Lebara needs to create and set up
          the DSKY E-Pin Account, and/or to provide any support regarding the use of the Portal to retailers Partner,
          including but not limited to name, bill-to/business address and delivery address; mobile number; e-mail
          address; contact details of designated users and contacts of retailers for the use of the Portal, and any
          other Personal Data relating to the retailer provided during setup of the Web Account or any subsequent
          support query submitted or feed-back given. “Personal Data” means information from which a living individual
          can be recognised. </p>
      </div>
      <div class="terms">
        <h2>How do I register a DSKY Epin Account? </h2>
        <ul>
          <li>In order to access and use our Portal and its features you must have a Web Account set up and registered
            with us.</li>
          <li>DSKY will set up and create your Epin Account as part of the onboarding process.</li>
          <li>DSKY LTD reserves the right to refuse the access to the Portal and/or the setup of a Web Account setup if
            you have not passed the Know your customer check. </li>
          <li>DSKY ltd will populate the following information in your ‘My Profile’ page on the Portal i.e.</li>
          <ol>
            <li>Your full name</li>
            <li>your bill-to/business address and your delivery address</li>
            <li>Valid email address</li>
            <li>Valid mobile number</li>
            <li>Any other information reasonably requested as part of the sign up process. </li>
          </ol>
          <li>All information you provide to us when registering a must be a true and accurate to the best of your
            knowledge. Also You must have the legal right and permission to use all Debit and Credit cards registered
            with your Web Account. It is your responsibility to ensure the information in your Web Account is updated
            regularly with any relevant changes. </li>
          <li>We reserve the right in our absolute discretion to refuse to register any given prospective user and to
            with hold the reasons for doing so. We also reserve the right to disable any log-on ID, at anytime, if in
            our opinion you have failed to comply with any of the provisions of these Terms or if any details you
            provide for the purposes of registering as a user prove to be false. </li>
          <li>We may also suspend your Web Account or requires you to change your login(user name and/or password) if we
            have reason to believe that there is likely to be a breach of security or misuse of your Web Account. </li>
          <li>As part of our security procedures, you must treat the log-on ID (such as a username and password or other
            identifier) that we provide you confidential and must not reveal it to anyone else. </li>
          <li><b>You are solely responsible for protecting you login details and password and we will not be held liable
              for any loss or damage that may result from your failure to do so. </b></li>
          <li>It is important to note that neither DSKY LTD or any of the employees will ask you for your personal
            details for login. </li>
        </ul>
        <p>You are responsible for all activities that occur under your log-on ID and must immediately inform of any
          unauthorised use or other security breach of which you become aware by using the contact us details at
          Support@dsky-ltd.co.uk</p>
      </div>
      <div class="terms">
        <h2>Payments by Debit or credit card </h2>
        <ul>
          <li>You can pay for your Products with a credit or debit card. </li>
          <li>DSKY will set up and create your Epin Account as part of the onboarding process. </li>
          <li>DSKY LTD reserves the right to refuse the access to the Portal and/or the setup of a Web Account setup if
            you have not passed the Know your customer check. </li>
          <li>DSKY Ltd reserves its right to not accept credit/debit card. Where card payment is accepted, your
            credit/debit card details will be encrypted by the DSKY site to minimise the possibility of unauthorised
            accessor disclosure. </li>
          <li>You should follow all the necessary securities measure provided by your card providers while making online
            payment</li>
          <li>While making online payment with your credit or debit card, you (The Retailer) agreed to our Terms and
            condition and confirms that the credit or Debit card details used is legally owned by you or legally owned
            by your business and you are the legal owner of the card.</li>
        </ul>
      </div>
    </div>
  </div>
</div>